*** Variables ***
# --------------------------------------------------------------------------------
# Settings for fetch-moodle-data.robot script
# --------------------------------------------------------------------------------

# Directory where aggregated Power BI files will be written.
${PowerBIDataDir}               /path/to/powerbi-data

# Root URL of moodle server where robot fetches data
${MoodleURL}                    https://moodle.site.org

# User credentials used to login into moodle
${Username}			 username
${Password}		    	 password

# Default download directory for files in Firefox
${DownloadDirectory}            /path/to/Conversion

# Default directory where generated XAPI statements are placed before sending
${StagingDirectory}            /path/to/Staging

# Firefox profile directory 
${FirefoxProfileDirectory}	/path/to/.mozilla/firefox/Robot.Robot

# Absolute path to xapi_moodler executable
${XAPIConverterPath}        /path/to/xapi_converter/build/moodle/xapi_moodler

# Absolute path to utf-8 fixing script for content 
${Utf8AsciiFixPath}		/path/to/oppikoppi-robot/helper-scripts/utf8ascii_fix_sed.sh

# configuration file for xapi_converter utilities
${XAPIConverterConfig}      /path/to/xapi_converter/build/config.json

# Learning locker server address or IP - if resides on same server as oppikoppi-robot, leave as it is. 
${LearningLockerServerIP}       127.0.0.1

# Commands for dropping and creating indices on learninglocker's mongodb
${MongoDropIndicesPath}           /path/to/oppikoppi-robot/mongo/mongo-dropindices.js
${MongoCreateIndicesPath}         /path/to/oppikoppi-robot/mongo/mongo-createindices.js

# --------------------------------------------------------------------------------
# Settings related to powerbi-desktop-rs.robot and powerbi-service-rs.robot scripts
# --------------------------------------------------------------------------------

# Credentials used to login into Power BI cloud service (if used)
${PowerBIUsername}              user.name@organization.com
${PowerBIPassword}              none

# URLs for accessing Power BI cloud service pages
${PowerBIServiceURL}            https://app.powerbi.com/home?noSignUpCheck=1
${PowerBIDatasetURL}            https://app.powerbi.com/groups/me/settings/datasets
${PowerBIDatasetsURL}		        https://app.powerbi.com/groups/me/list/datasets
${PowerBIReportsURL}            https://app.powerbi.com/groups/me/list/reports

# Email address where Power BI cloud service should send failure notifications
# about synchronization 
${PowerBIFailureEmail}          failure.user.name@organization.com

# Credentials for  Power BI Desktop to access aggregated data
${DatasetWebUser}               webuser
${DatasetWebPassword}           webpass

# Credentials for get-email.sh to access LDAP server to query principal user names
${LdapUser}			ldap.user
${LdapPassword}			ldap.pass

# Oppikoppi server certificate path for cURL command
${LearningLockerServerCertPath}         path/to/oppikoppi.crt

# LDAP server address for querying user email, principal user name, account name
${LdapServer}			ldap.server.address

# LDAP search start domain for users. See man ldapsearch(1) for details.
${LdapSearchDomain}		dc=DOMAIN,dc=SUFFIX

# Path to Power BI Desktop for Report Server executable
${PowerBI}	C:/path/to/bin/PBIDesktop.exe

# Power BI Report Server Base URL
${PowerBIReportServerURL}         https://report-server-base-url

# Power BI Desktop for Report Server window title identifier
${PowerBIWindowVersionSuffix}	    Power BI Desktop (tammikuu 2021)

# Power BI Report Server browsing address for all visualizations
${PowerBIReportServerBrowseURL}			https://browse-url

# Power BI Report Server URL prefix for viewing visualization
${PowerBIReportServerViewURL}			https://view-url

# Power BI Report Server URL prefix for row level security settings
${PowerBIReportServerRowLevelSecurityURL}	https://rls-url

# Power BI Report Server URL prefix for security settings 
${PowerBIReportServerSecurityURL}		https://security-url

# Power BI Report Server URL prefix for data source settings
${PowerBIReportServerDataSourcesURL}		https://datasource-url

# Power BI Report Server URL prefix for scheduled refresh settings
${PowerBIReportServerScheduleURL}		https://scheduled-refresh-url

# Path to cloned repository for powerbi-desktop-rs
${OppikoppiBaseDir}             C:/path/to/oppikoppi-robot

# Path to script that accesses information about user accounts by emails
${GetEmailCmd}		/path/to/oppikoppi-robot/helper-scripts/get-emails.sh

# Path to script that accesses course listing in learning locker
${GetCourseListCmd}	/path/to/oppikoppi-robot/helper-scripts/ll-courses.sh

# Path to script that retrieves course name by its Moodle id in learing locker
${GetCourseNameCmd}	/path/to/oppikoppi-robot/helper-scripts/ll-coursename.sh

# Path to directory where published HTML files are created for each moodle workspace.
${PublishPath}  	/path/to/publish-dir